<mat-card
  style="
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  "
>
  <mat-card-header style="height: fit-content">
    <mat-card-title> {{ heroe.superhero }} </mat-card-title>
    <mat-card-subtitle>{{ heroe.alter_ego }} </mat-card-subtitle>
  </mat-card-header>
  <!-- TODO: imagen -->
  <img mat-card-image [src]="heroe | heroeImage" [alt]="heroe.superhero" />

  <mat-card-content class="mt-2">
    <h4>{{ heroe.publisher }}</h4>
    <p>
      <strong>Primera aparición</strong> {{ heroe.first_appearance }}
      <br />
      <mat-chip
        *ngFor="let name of heroe.characters.split(',') | slice : 0 : 3"
      >
        {{ name }}
      </mat-chip>
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions style="height: fit-content">
    <button mat-button mat-raised [routerLink]="['/heroes/edit', heroe.id]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <span class="spacer"></span>

    <button mat-button mat-raised [routerLink]="['/heroes/', heroe.id]">
      <mat-icon>more_horiz</mat-icon>
      Ver detalle
    </button>
  </mat-card-actions>
</mat-card>
